.softwaredevpage-container {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
}

.languages {
    flex-wrap: wrap;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.tag {
    background: rgb(55,44,254);
    background: linear-gradient(90deg, rgba(55,44,254,1) 0%, rgba(44,150,254,1) 100%);
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

.projects-container > a {
    text-decoration: none;
    color: white;
}
.project-card {
    width: 170px;
    height: 200px;
    background-color: #06090f;
    border-radius: 1rem;
    padding: 1rem;
}

.project-card {
    position: relative;
    width: 12rem;
    height: 14rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background: linear-gradient(#fff2, transparent);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    font-family: "Montserrat", sans-serif;
    text-shadow: 1px 1px 2px gray;
    transition: 0.5s;
    transform: rotate(calc(var(--r) * 1deg));
}

.project-card:hover {
    transform: rotate(3deg);
    border: 1px solid gray;
}

.project-card-header {
    position: absolute;
    top: 1rem;
    color: white;
    text-decoration: none;
}

.project-card-content {
    color: white;
    text-decoration: none;
}
.project-card-footer {
    position: absolute;
    bottom: 1rem;
    color: white;
    text-decoration: none;
}

.devicon-java-plain,
.devicon-react-original,
.devicon-html5-plain {
    font-size: 5rem;
    color: white;
}